html{
	background-image: url(imagen/fundo2.jpeg);
	background-repeat: no-repeat;
	background-size: 800px 550px;
}
body{
	
	list-style:none;
	color: #ffffff;
font:bold 15px helvetica;
	
}

#btnImprimir{
	position: absolute;
	top: 25%;
	left: 60%;
}
#divBusca{
	position: absolute;
	top: 25%;
}

ul{
	
	list-style:none;
}

ul label{

	width:100px;
	float:left;
}

form{
	border:solid 1px;
}

table{
	list-style:none;
	color: #000;
font:bold 15px helvetica;
	

	position: absolute;
	top: 30.5%;
	width:98%;
	border:solid 1px;
	text-align:left;
   	border-collapse:collapse; 
}

table tbody tr{

	border:solid 1px;
	height:30px;
	background: beige;
}

table tbody tr:hover{
	background: #cfcfcf;
}

table thead{
	background:#cfcfcf;
}